%p callinwithus is currently offline.
-# %p You and your colleagues should now call <br/> <b>415-689-4249</b> with code <b>#{ @conference_call.code_for_display }</b>
%p{ style: 'display:none' }
  %a#let-them-know Click here to let them know
