html, body
  background-color: #bbb

#wrapper
  width: 500px
  margin: 150px auto
  padding: 20px 60px
  font-family: 'Rock Salt'
  border: 1px solid black
  -moz-transform: rotate(-2deg)
  -webkit-transform: rotate(-2deg)
  background-color: #ffff82
  box-shadow: 2px 2px 5px #333
  border-radius: 4px

  #header
    margin: 40px 0
    h1
      font-size: 42px

  #content
    margin: 40px 0
    line-height: 2
    b
      font-weight: bold
    p
      margin: 10px 0

  #footer
    margin: 40px 0
    font-size: 16px
    a
      color: blue
      text-decoration: none

#social-plugins
  width: 250px
  margin: 0 auto
  #twitter
    float: left
    margin: 0 10px
